.idea/
*.iml
log.basePath_IS_UNDEFINED/
logs/
target/
.metadata/
*.classpath
*.settings
*.springBeans
*.project
*.fdt
.recommenders/
*.springWebflow
.DS_Store
/LOG_PATH_IS_UNDEFINED/
gen/
src/main/resources/swagger.yaml
src/main/java/META-INF/sun-jaxb.episode
**/sonar-report/*